# Contentful configuration
VITE_CONTENTFUL_SPACE_ID=asdfasdfasdfasdbhjmn 
VITE_CONTENTFUL_ACCESS_TOKEN=KIUe-Fh6R9OjZ_bizCWUQ

# Firebase configuration
VITE_FIREBASE_API_KEY=AIzaSyCqlB8SJPGQPaQj2M
VITE_FIREBASE_AUTH_DOMAIN=o-ltd.fi
VITE_FIREBASE_PROJECT_ID=lio-ltd
VITE_FIREBASE_STORAGE_BUCKET=rebasestorage
VITE_FIREBASE_MESSAGING_SENDER_ID=856482
VITE_FIREBASE_APP_ID=1:008947988d4244497b
VITE_FIREBASE_MEASUREMENT_ID=G-VYWH