import { {{pascalCase name}}ViewProps } from './types'

export function {{pascalCase name}}View(props: {{pascalCase name}}ViewProps) {
  const { } = props
  return (
    <div>
      <h1>{{pascalCase name}} View</h1>
    </div>
  )
}
